<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "Home") %>

<div class="About">
  <div class="about">
    <div align="center">
      <font size="8">About<br></font>
    </div>
  </div>

  <div class="concept">
    <div align="left">
    <h3>どのようなコンセプトで、どのような情報を発信しているのか</h3>
  </div>
  <div class="concept-main">
    <font size="4">はこだて未来大学の１年次に学ぶ数学科目には解析学と線形代数学があります。<br>
    これらが、「２，３年次以降の科目」と「他分野、職業」とどのようにつながっているのかを、実際に数学の問題を解くことで体験してもらいたいと考えています。<br></font>
  </div>

  <div class="target">
    <h3>どのような人に向けて書いているのか</h3>
  </div>
  <div class="target-main">
    <font size="4">数学を何のために学んでいるのかわからない、数学がどのようなものにつながっているかわからない。<br>
    このような理由から、数学が必修科目にあるから仕方なく勉強している人に向けて、数学のすばらしさを伝えるために作りました。</font>
  </div>
</div>
