<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "コンセプト") %>

  <div class="concept">
    <div align="center">
    <h3>このサイトのコンセプト<h3><br>

  <div class="concept-main">
    <font size="4">１年次の必修科目の中には数学科目があります。しかし、なぜ1年次に必修で数学科目があるのかわからない、<br>
  そもそも数学を学ぶ意味がわからない、 今後どのようなものに繋がっていくのかわからない。<br><br>
  このような理由から、数学が必修科目にあるから仕方なく勉強している人もいるかと思います。<br><br>
  そんな人にこのサイトを使ってもらう事で数学の楽しさや重要性を伝え、数学に興味を持ち、<br>
  今後の勉強へのモチベーションアップに繋げて欲しいという願いを込めて作りました。<br><br>
  </font>
  </div>
  </div>

<br><br><br><br><br><br>

<script language="JavaScript">
  if (window.name != "concept") {
    window.name = "concept";
  }
</script>
