<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "コンセプト") %>

<!--div align="center">
<font size="5">コンセプト<br></font>
</div>-->

  <div class="concept">
    <div align="center">
    <!--<h3>どのようなコンセプトで、どのような情報を発信しているのか</h3>-->
    <h3>このサイトのコンセプト<h3><br>

  <div class="concept-main">
    <font size="4">１年次の必修科目の中には数学科目があります。しかし、なぜ1年次に必修で数学科目があるのかわからない、<br>
  <!--  これらが、「２，３年次以降の科目」と「他分野、職業」とどのようにつながっているのかを、実際に数学の問題を解くことで体験してもらいたいと考えています。<br>-->
  そもそも数学を学ぶ意味がわからない、 今後どのようなものに繋がっていくのかわからない。<br><br>
  このような理由から、数学が必修科目にあるから仕方なく勉強している人もいるかと思います。<br><br>
  そんな人にこのサイトを使ってもらう事で数学の楽しさや重要性を伝え、数学に興味を持ち、<br>
  今後の勉強へのモチベーションアップに繋げて欲しいという願いを込めて作りました。<br><br>
  </font>
  </div>
  </div>
  <!--<div class="target">
    <h3>どのような人に向けて書いているのか</h3>
  </div>
  <div class="target-main">
    <font size="4">数学を何のために学んでいるのかわからない、数学がどのようなものにつながっているかわからない。<br>
    このような理由から、数学が必修科目にあるから仕方なく勉強している人に向けて、数学のすばらしさを伝えるために作りました。</font>
  </div>
</div>-->

<br><br><br><br><br><br>

<script language="JavaScript">
  if (window.name != "concept") {
    window.name = "concept";
  }
</script>
