<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "フーリエ変換") %>

<div align="center">
<font size="5">フーリエ変換は実世界でどのように使われているのだろうか？<br></font>
</div>


フーリエ級数は何に使われているのだろうか<br>

<%= link_to image_tag("test.gif", alt: "gif") %>
