<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "フーリエ変換") %>

  <div class="all">

    <div class="title">フーリエ変換</div>
    <div class="padt-10"></div>
    <!-- ページネーション機能（Bootstrap） -->
    <nav aria-label="Page navigation">
      <!-- justify-content-centerでページネーションを中央寄せ -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="frie2">前へ</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="frie1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="frie2">2</a>
        </li>
        <li class="page-item active">
          <span class="page-link">
            3<span class="sr-only">(current)</span>
          </span>
        </li>
      </ul>
    </nav>
    <div class="padb-10"></div>

    <div class="column">
      <div class="main">

        <div class="caption">3.&ensp;実際にやってみよう</div>
        <div class="topSpace"></div>
        <div class="text">
            例題: 周期$2\pi$の関数$f(x)= \begin{cases} 0(-\pi \le x < 0) \\ x( 0 \leq x < \pi) \end{cases} $
            をフーリエ級数展開してフーリエ級数展開を求めよ。
            <br><br>

            フーリエ級数展開は$f(x)=\displaystyle\sum_{n=1}^{\infty}(a_n\cos nx + b_n\sin nx)$である。<br>
            $\displaystyle a_0,a_n,b_n$を求める公式は<br>
            $\displaystyle a_0=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x) dx$<br>
            $\displaystyle a_n=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x)\cos nx dx$<br>
            $\displaystyle b_n=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x)\sin nx dx$<br>
            である。これらを用いてフーリエ級数展開を求める。<br>
            $\displaystyle a_0=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x) dx = \frac{1}{\pi} \int_{-\pi}^{0} 0 dx
             + \frac{1}{\pi} \int_{0}^{\pi} x dx = \frac{1}{\pi}\left[\frac{x^2}{2}\right]^\pi_0 = \frac{\pi}{2}$<br>

            $\displaystyle a_n=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x)\cos nx dx = \frac{1}{\pi} \int_{-\pi}^{0} 0 dx
             + \frac{1}{\pi} \int_{0}^{\pi} x\cos nx dx(n=1,2,3...)$<br>

            $\displaystyle=\frac{1}{\pi}\left[x\frac{\sin nx}{n}\right]_{0}^{\pi} - \frac{1}{\pi}\cdot\frac{1}{n}\int_{0}^{\pi} \sin nx dx
             = \frac{1}{\pi}(\pi\cdot\frac{\sin n\pi}{n} - 0\cdot\frac{\sin 0}{n})
             - \frac{1}{n\pi}\left[\frac{-\cos n\pi}{n}\right]^\pi_0$<br>

            $\displaystyle= (0-0) -\frac{1}{n^2\pi}\{-\cos n\pi - (-\cos 0)\} = - \frac{1}{n^2\pi}\{-(-1)^n - (-1)\}$<br>

            $\displaystyle= -\frac{1+(-1)^{n-1}}{n^2\pi}$<br><br>

            $\displaystyle b_n=\frac{1}{\pi} \int_{-\pi}^{\pi} f(x)\sin nx dx=\frac{1}{\pi} \int_{-\pi}^{0} 0 dx
             +\frac{1}{\pi} \int_{0}^{\pi} x\sin nx dx(n=1,2,3...)$<br>

            $\displaystyle=\frac{1}{\pi}\left[x\frac{-\cos nx}{n}\right]_{0}^{\pi}-\frac{1}{\pi}\cdot\frac{1}{n}\int_{0}^{\pi} -\cos nx dx
            =\frac{1}{\pi}(\pi\cdot\frac{-\cos n\pi}{n} - 0)- \frac{1}{n\pi}\left[\frac{-\sin n\pi}{n}\right]^\pi_0$<br>

            $\displaystyle=\frac{-(-1)^n}{n}-\frac{1}{n\pi}(0-0)=\frac{(-1)^{n-1}}{n}$<br>

            以上より関数$f(x)$のフーリエ級数展開は<br>

            $f(x)=\displaystyle\frac{\pi}{4}+\displaystyle\sum_{n=1}^{\infty}\{-\frac{1+(-1)^{n-1}}{n^2\pi}\cos nx
            +\frac{(-1)^{n-1}}{n}\sin nx\}$<br>

            となる。

        </div>
        <div class="padt-10"></div>
      </div>

      <div class="sub">

        <div clas="text-sub">
          <div class="pad3"></div>
          <div class="box26">
            <span class="box-title">(1)</span>
            <p>
              <input id="Radio1" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：おめでとう、正解です"/>
              <label for="Radio1">$4-(5a+b)$</label>&emsp;
              <input id="Radio2" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です"/>
              <label for="Radio2">$7-(6a+b)$</label><br>
              <input id="Radio3" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です"/>
              <label for="Radio3">$5-(4a+b)$</label>
              <input id="Radio4" name="RadioGroup1" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn1()"/><br>
            </p>
            <span id="span1">結果：</span>
          </div>

          <div class="box26">
            <div class="box-title">(2)</div>
            <p>
              <input id="Radio5" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です"/>
              <label for="Radio5">$16-20a-8b+16a^2+10ab$</label><br>
              <input id="Radio6" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です"/>
              <label for="Radio6">$25-40a-10b+16a^2+8ab$</label><br>
              <input id="Radio4" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：おめでとう、正解です"/>
              <label for="Radio4">$16-40a-8b+25a^2+10ab$</label>
              <input id="Radio4" name="RadioGroup2" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn2()"/><br>
            </p>
            <span id="span2">結果：</span>
          </div>

          <div id="output2"></div>

          <div class="pad8"></div>
          <div class="box26">
            <div class="box-title">(3)</div>
            <p>
              <input id="Radio8" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：残念、不正解です"/>
              <label for="Radio8">$510a+10b-526$</label><br>
              <input id="Radio7" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：おめでとう、正解です"/>
              <label for="Radio7">$510a+70b-526$</label><br>
              <input id="Radio9" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();" value="結果：残念、不正解です"/>
              <label for="Radio9">$510a+10b-72$</label><br>
              <input id="Radio4" name="RadioGroup3" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn3()"/><br>
            </p>
            <span id="span3">結果：</span>
          </div>

          <div id="output3"></div>

          <div class="pad9"></div>
          <div class="box26">
            <div class="box-title">(4)</div>
            <p>
              <input id="Radio11" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：残念、不正解です"/>
              <label for="Radio11">$510a+70b-526$</label><br>
              <input id="Radio12" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：残念、不正解です"/>
              <label for="Radio12">$10b+70b-282$</label><br>
              <input id="Radio10" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();" value="結果：おめでとう、正解です"/>
              <label for="Radio10">$10b+70a-72$</label><br>
              <input id="Radio4" name="RadioGroup4" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn4()"/><br>
            </p>
            <span id="span4">結果：</span>
          </div>

          <div id="output4"></div>

          <div class="pad10"></div>
          <div class="box26">
            <div class="box-title">(5)</div>
            <p>
              <input id="Radio13" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：おめでとう、正解です"/>
              <label for="Radio13">$1.1$</label>&emsp;
              <input id="Radio14" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：残念、不正解です"/>
              <label for="Radio14">$11$</label>&emsp;
              <input id="Radio15" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();" value="結果：残念、不正解です"/>
              <label for="Radio15">$0.11$</label><br>
              <input id="Radio4" name="RadioGroup5" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn5()"/><br>
            </p>
            <span id="span5">結果：</span>
          </div>

          <div id="output5"></div>

          <div class="box26">
            <div class="box-title">(6)</div>
            <p>
              <input id="Radio16" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
              <label for="Radio16">$-0.5$</label>&emsp;
              <input id="Radio17" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio17">$-0.2$</label>&emsp;
              <input id="Radio18" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio18">$0.5$</label><br>
              <input id="Radio4" name="RadioGroup6" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn6()"/><br>
            </p>
            <span id="span6">結果：</span>
          </div>

          <div id="output6"></div>


          <div class="box26">
            <div class="box-title">(7)</div>
            <p>
              <input id="Radio16" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
              <label for="Radio16">①</label>&emsp;
              <input id="Radio17" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio17">②</label>&emsp;
              <input id="Radio18" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio18">③</label>&emsp;
              <input id="Radio19" name="RadioGroup7" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
              <label for="Radio19">④</label><br>
              <input id="Radio4" name="RadioGroup7" type="radio" value="結果：わからない"/>
              <label for="Radio4">わからない</label><br>
              <input type="button" value="解答チェック" onclick="clickBtn7()"/><br>
            </p>
            <span id="span7">結果：</span>
          </div>

          <div id="output7"></div>

          <div class="pad12"></div>

          <div class="box26">
           <div class="box-title">(8)</div>
           <p>
             <input id="Radio17" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$5$</label>&emsp;
             <input id="Radio16" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$4$</label>&emsp;
             <input id="Radio18" name="RadioGroup8" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$3$</label><br>
             <input id="Radio4" name="RadioGroup8" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label><br>
             <input type="button" value="解答チェック" onclick="clickBtn8()"/><br>
           </p>
           <span id="span8">結果：</span>
         </div>

         <div id="output8"></div>

         <div class="box26">
           <div class="box-title">(9)</div>
           <p>
             <input id="Radio18" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$9.9$</label>&emsp;
             <input id="Radio17" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$5.5$</label>&emsp;
             <input id="Radio16" name="RadioGroup9" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$4.4$</label><br>
             <input id="Radio4" name="RadioGroup9" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label><br>
             <input type="button" value="解答チェック" onclick="clickBtn9()"/><br>
           </p>
           <span id="span9">結果：</span>
         </div>

         <div id="output9"></div>

         <div class="box26">
           <div class="box-title">(10)</div>
           <p>
             <input id="Radio17" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio17">$4.9$</label>&emsp;
             <input id="Radio16" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：おめでとう、正解です"/>
             <label for="Radio16">$3.9$</label>&emsp;
             <input id="Radio18" name="RadioGroup10" type="radio" onchange="onRadioButtonChange6();" value="結果：残念、不正解です"/>
             <label for="Radio18">$9.4$</label><br>
             <input id="Radio4" name="RadioGroup10" type="radio" value="結果：わからない"/>
             <label for="Radio4">わからない</label><br>
             <input type="button" value="解答チェック" onclick="clickBtn10()"/><br>
           </p>
           <span id="span10">結果：</span>
         </div>

         <div id="output10"></div>
        </div>
      </div>
    </div>
    <div class="padt-40"></div>
      <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="frie2">前へ</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="frie1">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="frie2">2</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                3<span class="sr-only">(current)</span>
              </span>
            </li>
          </ul>
        </nav>
        <div class="padb-40"></div>
  </div>

  <!-- ページ読み込み後にリロードしてTEXを表示 -->
  <script language="JavaScript">

    if (window.name != "least_squares3") {
      location.reload();
      window.name = "least_squares3";
    }
  </script>

  <script type="text/javascript" language="javascript">

    function clickBtn1() {
      let str1 = "",
        str1_1 = "";

        const RadioGroup1 = document.getElementsByName("RadioGroup1");
        for (let i = 0; i < RadioGroup1.length; i++) {

          if (RadioGroup1[0].checked == true) {
            str1 = RadioGroup1[0].value;
            str1_1 = "(1) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup1[1].checked == true) {
            str1 = RadioGroup1[1].value;
            str1_1 = "(1) 結果：×";
            break;
          } else if (RadioGroup1[2].checked == true) {
            str1 = RadioGroup1[2].value;
            str1_1 = "(1) 結果：×";
            break;

          } else if (RadioGroup1[3].checked == true) {
            str1 = RadioGroup1[3].value;
            str1_1 = "(1) 結果：わからない";
            break;

          }
        }
        document.getElementById("span1").textContent = str1;
        document.getElementById("span1_1").textContent = str1_1;

      }

      function clickBtn2() {

      let str2 = "",
        str2_1 = "";

        const RadioGroup2 = document.getElementsByName("RadioGroup2");
        for (let i = 0; i < RadioGroup2.length; i++) {

          if (RadioGroup2[2].checked === true) {
            str2 = RadioGroup2[2].value;
            str2_1 = "(2) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup2[1].checked == true) {
            str2 = RadioGroup2[1].value;
            str2_1 = "(2) 結果：×";
            break;
          } else if (RadioGroup2[0].checked == true) {
            str2 = RadioGroup2[0].value;
            str2_1 = "(2) 結果：×";
            break;
          } else if (RadioGroup2[3].checked == true) {
            str2 = RadioGroup2[3].value;
            str2_1 = "(2) 結果：わからない";
            break;

          }

        }
        document.getElementById("span2").textContent = str2;
        document.getElementById("span2_1").textContent = str2_1;

      }

      function clickBtn3() {

      let str3 = "",
        str3_1 = "";

        const RadioGroup3 = document.getElementsByName("RadioGroup3");
        for (let i = 0; i < RadioGroup3.length; i++) {

          if (RadioGroup3[1].checked === true) {
            str3 = RadioGroup3[1].value;
            str3_1 = "(3) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup3[0].checked == true) {
            str3 = RadioGroup3[0].value;
            str3_1 = "(3) 結果：×";
            break;
          } else if (RadioGroup3[2].checked == true) {
            str3 = RadioGroup3[2].value;
            str3_1 = "(3) 結果：×";
            break;
          } else if (RadioGroup3[3].checked == true) {
            str3 = RadioGroup3[3].value;
            str3_1 = "(3) 結果：わからない";
            break;
          }

        }
        document.getElementById("span3").textContent = str3;
        document.getElementById("span3_1").textContent = str3_1;

}

      function clickBtn4() {

      let str4 = "",
        str4_1 = "";

        const RadioGroup4 = document.getElementsByName("RadioGroup4");
        for (let i = 0; i < RadioGroup4.length; i++) {

          if (RadioGroup4[2].checked === true) {
            str4 = RadioGroup4[2].value;
            str4_1 = "(4) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup4[1].checked == true) {
            str4 = RadioGroup4[1].value;
            str4_1 = "(4) 結果：×";
            break;
          } else if (RadioGroup4[0].checked == true) {
            str4 = RadioGroup4[0].value;
            str4_1 = "(4) 結果：×";
            break;
          } else if (RadioGroup4[3].checked == true) {
            str4 = RadioGroup4[3].value;
            str4_1 = "(4) 結果：わからない";
            break;
          }

        }
        document.getElementById("span4").textContent = str4;
        document.getElementById("span4_1").textContent = str4_1;

      }

      function clickBtn5() {

      let str5 = "",
        str5_1 = "";

        const RadioGroup5 = document.getElementsByName("RadioGroup5");
        for (let i = 0; i < RadioGroup5.length; i++) {

          if (RadioGroup5[0].checked === true) {
            str5 = RadioGroup5[0].value;
            str5_1 = "(5) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup5[1].checked == true) {
            str5 = RadioGroup5[1].value;
            str5_1 = "(5) 結果：×";
            break;
          } else if (RadioGroup5[2].checked == true) {
            str5 = RadioGroup5[2].value;
            str5_1 = "(5) 結果：×";
            break;
          } else if (RadioGroup5[3].checked == true) {
            str5 = RadioGroup5[3].value;
            str5_1 = "(5) 結果：わからない";
            break;
          }

        }
        document.getElementById("span5").textContent = str5;
        document.getElementById("span5_1").textContent = str5_1;

      }

      function clickBtn6() {
      let str6 = "",
        str6_1 = "";

        const RadioGroup6 = document.getElementsByName("RadioGroup6");
        for (let i = 0; i < RadioGroup6.length; i++) {

          if (RadioGroup6[0].checked === true) {
            str6 = RadioGroup6[0].value;
            str6_1 = "(6) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup6[1].checked == true) {
            str6 = RadioGroup6[1].value;
            str6_1 = "(6) 結果：×";
            break;
          } else if (RadioGroup6[2].checked == true) {
            str6 = RadioGroup6[2].value;
            str6_1 = "(6) 結果：×";
            break;
          } else if (RadioGroup6[3].checked == true) {
            str6 = RadioGroup6[3].value;
            str6_1 = "(6) 結果：わからない";
            break;
          }
        }
        document.getElementById("span6").textContent = str6;
        document.getElementById("span6_1").textContent = str6_1;

      }

      function clickBtn7() {

      let str7 = "",
        str7_1 = "";

        const RadioGroup7 = document.getElementsByName("RadioGroup7");
        for (let i = 0; i < RadioGroup7.length; i++) {

          if (RadioGroup7[0].checked === true) {
            str7 = RadioGroup7[0].value;
            str7_1 = "(7) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup7[1].checked == true) {
            str7 = RadioGroup7[1].value;
            str7_1 = "(7) 結果：×";
            break;
          } else if (RadioGroup7[2].checked == true) {
            str7 = RadioGroup7[2].value;
            str7_1 = "(7) 結果：×";
            break;

          } else if (RadioGroup7[3].checked == true) {
            str7 = RadioGroup7[3].value;
            str7_1 = "(7) 結果：×";
            break;

          } else if (RadioGroup7[4].checked == true) {
            str7 = RadioGroup7[4].value;
            str7_1 = "(7) 結果：わからない";
            break;

          }

        }
        document.getElementById("span7").textContent = str7;
        document.getElementById("span7_1").textContent = str7_1;

      }

      function clickBtn8() {

      let str8 = "",
        str8_1 = "";

        const RadioGroup8 = document.getElementsByName("RadioGroup8");
       for (let i = 0; i < RadioGroup8.length; i++) {

         if (RadioGroup8[1].checked === true) {
           str8 = RadioGroup8[1].value;
           str8_1 = "(8) 結果：○";
           break;
           //target.innerHTML = "おめでとう、正解です";
         } else if (RadioGroup8[2].checked == true) {
           str8 = RadioGroup8[2].value;
           str8_1 = "(8) 結果：×";
           break;
         } else if (RadioGroup8[0].checked == true) {
           str8 = RadioGroup8[0].value;
           str8_1 = "(8) 結果：×";
           break;

         }else if (RadioGroup8[3].checked == true) {
           str8 = RadioGroup8[3].value;
           str8_1 = "(8) 結果：わからない";
           break;

         }

       }
       document.getElementById("span8").textContent = str8;
       document.getElementById("span8_1").textContent = str8_1;

     }

      function clickBtn9() {

      let str9 = "",
        str9_1 = "";

        const RadioGroup9 = document.getElementsByName("RadioGroup9");
        for (let i = 0; i < RadioGroup9.length; i++) {

          if (RadioGroup9[2].checked === true) {
            str9 = RadioGroup9[2].value;
            str9_1 = "(9) 結果：○";
            break;
            //target.innerHTML = "おめでとう、正解です";
          } else if (RadioGroup9[0].checked == true) {
            str9 = RadioGroup9[0].value;
            str9_1 = "(9) 結果：×";
            break;
          } else if (RadioGroup9[1].checked == true) {
            str9 = RadioGroup9[1].value;
            str9_1 = "(9) 結果：×";
            break;

          }else if (RadioGroup9[3].checked == true) {
            str9 = RadioGroup9[3].value;
            str9_1 = "(9) 結果：わからない";
            break;

          }

        }
        document.getElementById("span9").textContent = str9;
        document.getElementById("span9_1").textContent = str9_1;
      }

      function clickBtn10() {

      let str10 = "",
        str10_1 = "";

     const RadioGroup10 = document.getElementsByName("RadioGroup10");
     for (let i = 0; i < RadioGroup10.length; i++) {

       if (RadioGroup10[1].checked === true) {
         str10 = RadioGroup10[1].value;
         str10_1 = "(10) 結果：○";
         break;
         //target.innerHTML = "おめでとう、正解です";
       } else if (RadioGroup10[0].checked == true) {
         str10 = RadioGroup10[0].value;
         str10_1 = "(10) 結果：×";
         break;
       } else if (RadioGroup10[2].checked == true) {
         str10 = RadioGroup10[2].value;
         str10_1 = "(10) 結果：×";
         break;

       }else if (RadioGroup10[3].checked == true) {
         str10 = RadioGroup10[3].value;
         str10_1 = "(10) 結果：わからない";
         break;

       }

     }

      document.getElementById("span10").textContent = str10;
      document.getElementById("span10_1").textContent = str10_1;
    }
  </script>

  <script src="https://frogcat.github.io/canvas-arrow/canvas-arrow.js"></script>

  <script type="text/javascript">
    // canvas要素のDOMオブジェクトを取得
    var canvas = document.getElementById("canvas1");

    // canvasの位置指定（左上基準）
    canvas.style.position = "relative";
    // canvas.style.left = "100px"; canvas.style.top = "100px"; 描画コンテキストを取得する
    var context = canvas.getContext("2d");

    var mousex = 0;
    var mouseX = 0;
    var mousey = 0;
    var mouseY = 0;

    // canvas内での軸の位置指定
    var st_X = 90;
    var st_Y = 50;

    // 傾き
    var a = 1;

    document.getElementById( "id_textBox1" ).value = a ;

    // 切片
    var b = 2 * 30;
    var c = b / 30;

    document.getElementById( "id_textBox2" ).value = c ;

    // 英語のテストの点数
    var v = 0;

    // 指定した英語の点数のX座標
    var x = 0;

    // X軸のY座標
    var y = canvas.height - st_Y;

    // アニメーションを起動させるためのカウント
    var count = 0;

    var text = "数学";

    function onButtonClick1() {
      // DOMを取得
      a = parseFloat(document.forms.id_form1.id_textBox1.value);
    }

    function onButtonClick2() {
      // DOMを取得
      b = parseFloat(document.forms.id_form2.id_textBox2.value) * 30;
    }

    function onButtonClick3() {
      // DOMを取得
      v = parseFloat(document.forms.id_form3.id_textBox3.value) * 30;
    }

    // マウスの位置を取得
    function movehandler(event) {
      // canvas基準のマウスの位置
      mousex = event.offsetX;
      mousey = event.offsetY;
    }
    window.onmousemove = movehandler;

    // マウスの位置を取得

    function en(circle_x, circle_y) {
      // 円と同じx座標と直線の交点のy座標
      var c_X = a * circle_x * 30 + parseInt(b);

      // 描画する位置を返還
      var circle_X = circle_x * 30 + st_X;
      var circle_Y = canvas.height - circle_y * 30 - st_Y;

      context.beginPath();
      context.fillStyle = "rgb(0, 0, 255)";

      context.arc(circle_X, circle_Y, 5, 0, 2 * Math.PI);

      context.fill();

      // strokeメソッドで描画コンテキストに記録されたパスをCanvasに描画
      context.stroke();
    }

    var tategaki = function (context, text, x, y) {
      var textList = text.split('\n');
      var lineHeight = context.measureText("あ").width;
      textList.forEach(function (elm, i) {
        Array.prototype.forEach.call(elm, function (ch, j) {
          context.fillText(ch, x - lineHeight * i, y + lineHeight * j);
        });
      });
    };

    function roundFloat(number, n) {
      var _pow = Math.pow(10, n);
      return Math.round(number * _pow) / _pow;
    }

    // 英語の点数を決定するボタンを押したときに実行される関数
    function prediction() {
      count = 1;
      // ボタンが押されたときにY座標を初期化して描画位置を戻す
      y = canvas.height - st_Y;
    }

    function set() {
      x = st_X + v;

      // Y座標を動かす
      y = y - 4;

      // 白でcanvasを塗る
      context.fillStyle = "rgb(255, 255, 255)";
      context.fillRect(0, 0, canvas.width, canvas.height);

      // 軸基準のマウスの位置
      mouseX = mousex - st_X;
      mouseY = canvas.height - mousey - st_Y - b;

      // 直線の傾き
      inclination = mouseY / mouseX;

      // beginPathメソッドを呼び出すことで、描画コンテキストへのパスの記録が開始され、図形を書くことができる。
      context.beginPath();
      context.strokeStyle = "rgb(0, 0, 0)";
      // moveToメソッドによって、指定した点まで移動する。 現在の点から指定した点までの線分を定義する。 直線の軌跡
      context.setLineDash([0]);
      context.moveTo(st_X, canvas.height - st_Y - b);
      context.lineTo(st_X + 100 * 3, canvas.height -  a * 100 * 3 - b - st_Y);

      context.stroke();

      en(5, 4);
      en(6, 7);
      en(7, 9);
      en(8, 6);
      en(9, 10);

      // 英語の点数を決定するボタンを押すと、
      if (count == 1) {

        context.setLineDash([2, 2]);
        context.beginPath();
        context.moveTo(x, canvas.height - st_Y);

        if(y > canvas.height - st_Y - b - a * v) {
          context.lineTo(x, y);
          context.stroke();
        } else {
          context.moveTo(x, canvas.height - st_Y);
          context.lineTo(x, canvas.height - st_Y - b - a * v);

          context.moveTo(x, canvas.height - st_Y - b - a * v);
          context.fillStyle = "rgb(255, 0, 0)";
          context.arc(x, canvas.height - st_Y - b - a * v, 5, 0, 2 * Math.PI);
          context.fill();

          context.moveTo(x, canvas.height - st_Y - b - a * v);
          context.lineTo(st_X, canvas.height - st_Y - b - a * v);

          context.arc(st_X, canvas.height - st_Y - b - a * v, 5, 0, 2 * Math.PI);
          context.fill();
        }
        context.stroke();

        context.beginPath();
        context.fillStyle = "rgb(255, 0, 0)";
        context.arc(x, canvas.height - st_Y, 5, 0, 2 * Math.PI);
        context.fill();
      }

      context.font = "bold 14px 'ＭＳ 明朝'";

      context.beginPath();
      context.fillStyle = "rgb(0, 0, 0)";

      context.fillText("2", st_X + 20 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("4", st_X + 40 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("6", st_X + 60 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("8", st_X + 80 * 3 - 3, canvas.height - st_Y + 20);
      context.fillText("10", st_X + 100 * 3 - 6, canvas.height - st_Y + 20);


      context.fillText("2", st_X - 20, canvas.height - st_Y - 20 * 3 + 5);
      context.fillText("4", st_X - 20, canvas.height - st_Y - 40 * 3 + 5);
      context.fillText("6", st_X - 20, canvas.height - st_Y - 60 * 3 + 5);
      context.fillText("8", st_X - 20, canvas.height - st_Y - 80 * 3 + 5);
      context.fillText("10", st_X - 20 - 5, canvas.height - st_Y - 100 * 3 + 5);

      context.fillText("O", st_X - 15, canvas.height - st_Y + 15);

      context.fillText("英語(点)", canvas.width / 2 - 40, canvas.height - st_Y + 40);
      tategaki(context, text, st_X - 60, canvas.height / 2);
      context.fillText("(点)", st_X - 60 - 10, canvas.height / 2 + 30);

      // if ((0 < mouseX && mousex < canvas.width - 130) && (0 < mousey && mousey < canvas.height)) { if (roundFloat(inclination, 2) == 0) { context.fillText("f(x) = " + c, parseInt(mousex) + 10, mousey); } else if (roundFloat(inclination, 2) == 1) {
      // context.fillText("f(x) = x + " + c, parseInt(mousex) + 10, mousey); } else if (roundFloat(inclination, 2) == -1) { context.fillText("f(x) = -x + " + c, parseInt(mousex) + 10, mousey); } else if (b == 0) { context.fillText("f(x) = " +
      // roundFloat(inclination, 2) + "x", parseInt(mousex) + 10, mousey); } else { context.fillText("f(x) = " + roundFloat(inclination, 2) + "x + " + c, parseInt(mousex) + 10, mousey); } } 矢印の軌跡
      context.arrow(st_X, canvas.height - st_Y, canvas.width - st_X / 2, canvas.height - st_Y, [
        0,
        1,
        -15,
        1,
        -15,
        5
      ]);
      context.arrow(st_X, canvas.height - st_Y, st_X, st_Y - 30, [
        0,
        1,
        -15,
        1,
        -15,
        5
      ]);
      context.fill();
    }

    onload = function () {
      setInterval(set, 30);
    }
  </script>

  <script>
  function enter1(){
    if( window.event.keyCode == 13 ){
      document.form1.submit();
    }
  }
  </script>

  <script>
  function enter2(){
    if( window.event.keyCode == 13 ){
      document.form2.submit();
    }
  }
  </script>

  <script>
    function enter3(){
      if( window.event.keyCode == 13 ){
        document.form3.submit();
      }
    }
  </script>
