<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "Home") %>

  <div align="center">
    <font size="5">このサイトのホームページです。<br></font>
  </div>

  <script language="JavaScript">
    if (window.name != "home") {
      window.name = "home";
    }
  </script>
