<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "最小二乗法") %>

  <div class="all">

    <div class="title">最小二乗法</div>

    <div class="padt-10"></div>
        <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <!-- 1ページ目なのでリンクはなし -->
              <a class="page-link">前へ</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                1<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares3">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">次へ</a>
            </li>
          </ul>
        </nav>
        <div class="padb-10"></div>

        <div class="caption">1.&ensp;はじめに</div>

        <div class="text">

          <div class="topSpace"></div>
          みなさん!
          <div class="box">
            <p>・1年生の必修科目として大学で数学を学んでいるけど、将来本当に必要なの？</p>
            <p>・数学を学ぶ意味がわからない!</p>
          </div>
          など、今ままで数学を学んできてそんな事を疑問に思ったことはありませんか？<br>
          そこで、ここでは実際に1年生が数学の授業で学んでいる解析学が世の中で応用されている一例として「最小二乗法」というものを<br>
          紹介します。<br>

          <br>最小二乗法を用いると、<br>
          <div class="padl-20">
            ・既存の顧客情報&emsp;から&emsp;売上の予測<br>
            ・天気や気温情報&emsp;から&emsp;来店者数の予測<br>
            ・喫煙の年数&emsp;&emsp;&emsp;から&emsp;肺がんの有無<br>
            ・身長の情報&emsp;&emsp;&emsp;から&emsp;体重の予測<br>
          </div>
          といった「ある事柄からそれに関係する事柄の予測」に役立ちます。<br>

          <br>最小二乗法とは、次の表データ（6人の身長と体重のデータ）から、<br>
          以下の図のような「データの関係を表すための関数」を求める方法です。<br>

            <table border="border" width="360" height="240" class="left2"><br>
              <tr>
                <td></td>
                <td>身長</td>
                <td>体重</td>
              </tr>
              <tr>
                <td>1</td>
                <td>116.5($=x_1$)</td>
                <td>21.3($=y_1$)</td>
              </tr>
              <tr>
                <td>2</td>
                <td>125.5($=x_2$)</td>
                <td>22.0($=y_2$)</td>
              </tr>
              <tr>
                <td>3</td>
                <td>128.1($=x_3$)</td>
                <td>26.9($=y_3$)</td>
              </tr>
              <tr>
                <td>4</td>
                <td>132.0($=x_4$)</td>
                <td>32.3($=y_4$)</td>
              </tr>
              <tr>
                <td>5</td>
                <td>141.0($=x_5$)</td>
                <td>33.1($=y_5$)</td>
              </tr>
              <tr>
                <td>6</td>
                <td>145.2($=x_6$)</td>
                <td>38.2($=y_6$)</td>
              </tr>
            </table>

          <br>この表データをグラフに表示すると以下のようになります。<br><br>

          <div class="img-yokolist">
          <%= link_to image_tag "pic1.1.png", class: 'img' %>
          <%= link_to image_tag "pic1.2.png", class: 'img left' %>
          </div>
          <br>
          この
          <span class="pad1"></span>
          <span class="hidden_box">
            <label for="label1">
              <span class="underl">データの関係を表すための関数</span></label>
          </span>
          (身長と体重の関係を表す関数)を求めることができれば、身長から体重を予測することができます。
          <div class="hidden_box">
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!--非表示ここから-->
              <div class="text">
                <p>当サイトでは、データの関係を表すための関数が存在すると仮定します。</p>
              </div>
              <!--ここまで-->
            </div>
          </div>
          例えば、身長が138cmの人の体重をこの
          <span class="pad1"></span>
          <span class="hidden_box1">
            <label for="label">
              <span class="underl">直線</span></label>
          </span>
          を用いて予測してみましょう。
          <div class="hidden_box1">
            <input type="checkbox" id="label"/>
            <div class="hidden_show1">
              <!--非表示ここから-->
              <div class="text">
                <p>直線より曲線の方が、よりデータとの関係を表すための関数を求めることができると思った方もいるかもしれません。<br>
                  たしかに、曲線の方が、よりデータとの関係を表すための関数を求めることができる場合もあります。<br>
                  しかし、最小二乗法を用いて曲線を求めようとすると、直線を求めるときよりも関数が複雑になるので計算が難しくなります。<br>
                  したがって、このサイトでは計算が簡単な直線を求める方法について考えることとします。</p>
              </div>
              <!--ここまで-->
            </div>
          </div>
          <br>


            <div class="showbox left2">
              <!-- スライドショーを表示する場所 -->
              <p>
                <img src="/assets/slide1.1.png" id="slideshow" alt="スライドショー表示領域">
              </p>

              <!-- スライドショーの制御ボタンを表示 -->
              <p>
                <input type="button" class="btn btn-secondary" value="－ 再生／一時停止 －" id="startstopbutton">
              </p>
            </div>


        <br><br>スライドから、身長が138cmの人は、体重がおおよそ33kgであることが予測できます。
        </div>

        <div class="padt-40"></div>
        <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <!-- 1ページ目なのでリンクはなし -->
              <a class="page-link">前へ</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                1<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares3">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">次へ</a>
            </li>
          </ul>
        </nav>
        <div class="padb-40"></div>

  </div>

  <!-- ページ読み込み後にリロードしてTEXを表示 -->
  <script language="JavaScript">

    if (window.name != "least_squares1") {
      location.reload();
      window.name = "least_squares1";
    }
  </script>

  <script>
    // スライドショーで見せたい画像ファイル群
    var imgset = [
      "/assets/slide1.2.png", "/assets/slide1.3.png", "/assets/slide1.4.png", "/assets/slide1.5.png", "/assets/slide1.1.png"/* 最後にカンマは不要 */
    ];

    // 指定画像を順に表示させる
    var counter = 0;
    function slideimage() {
      if (counter >= imgset.length) {
        // カウンタが画像数よりも大きくなったら0番に戻す
        counter = 0;
      }
      // 対象要素の画像URLを次の画像のURLに切り替える
      document.getElementById('slideshow').src = imgset[counter];
      // カウンタを1増やす
      counter++;
    }

    // スライドショーを制御
    var slideid = 0;
    function startstopshow() {
      if (slideid == 0) {
        // 始まっていなければ始める
        slideid = setInterval(slideimage, 1000); // 1000は切替秒数(ミリ秒)
      } else {
        // IDがあれば止める
        clearInterval(slideid);
        slideid = 0;
      }
    }

    // ボタンクリックに関数を割り当てる
    document.getElementById('startstopbutton').onclick = startstopshow;
  </script>
