<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "最小二乗法") %>

  <div class="all">

    <div class="title">最小二乗法</div>

    <div class="column">
      <div class="main">

        <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <!-- 1ページ目なのでリンクはなし -->
              <a class="page-link">Prev</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                1<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares3">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">Next</a>
            </li>
          </ul>
        </nav>

        <div class="caption">はじめに</div>

        <div class="text">

          <div class="topSpace"></div>
          みなさん!
          <div class="box">
            <p>1年生の必修科目として大学で数学を学んでいるけど、将来本当に必要なの？</p>
            <p>数学を学ぶ意味がわからない!</p>
          </div>
          など、今ままで数学を学んできてそんな事を疑問に思ったことはありませんか？<br>
          そこで、ここでは実際に1年生が数学の授業で学んでいる解析学が世の中で応用されている一例として「最小二乗法」というものを紹介します。<br>

          <br>最小二乗法を用いると、<br>
          <div class="padl-20">
            ・既存の顧客情報&emsp;から&emsp;売上の予測<br>
            ・天気や気温情報&emsp;から&emsp;来店者数の予測<br>
            ・喫煙の年数&emsp;&emsp;&emsp;から&emsp;肺がんの有無<br>
            ・身長の情報&emsp;&emsp;&emsp;から&emsp;体重の予測<br>
          </div>
          といった「ある事柄からそれに関係する事柄の予測」に役立ちます。<br>

          <br>最小二乗法とは、次の表データ（6人の身長と体重のデータ）から、以下の図のような「データの関係を表すための関数」を求める方法です。
          <center>
            <table border="border" width="360" height="240"><br>
              <tr>
                <td></td>
                <td>身長</td>
                <td>体重</td>
              </tr>
              <tr>
                <td>1</td>
                <td>116.5($=x_1$)</td>
                <td>21.3($=y_1$)</td>
              </tr>
              <tr>
                <td>2</td>
                <td>125.5($=x_2$)</td>
                <td>22.0($=y_2$)</td>
              </tr>
              <tr>
                <td>3</td>
                <td>128.1($=x_3$)</td>
                <td>26.9($=y_3$)</td>
              </tr>
              <tr>
                <td>4</td>
                <td>132.0($=x_4$)</td>
                <td>32.3($=y_4$)</td>
              </tr>
              <tr>
                <td>5</td>
                <td>141.0($=x_5$)</td>
                <td>33.1($=y_5$)</td>
              </tr>
              <tr>
                <td>6</td>
                <td>145.2($=x_6$)</td>
                <td>38.2($=y_6$)</td>
              </tr>
            </table>
          </center>
          <br>この表データをグラフに表示すると以下のようになります。<br><br>

          <center><%= link_to image_tag("pic1.1.png") %><%= link_to image_tag("pic1.2.png") %></center><br>
          このデータの関係を表すための$^*$関数(身長と体重の関係を表す関数)を求めることができれば、身長から体重を予測することができます。
          <br>例えば、身長が138cmの人の体重をこの直線を用いて予測してみましょう。
          <div class="hidden_box">
            <input type="checkbox" id="label1"/>
            <div class="hidden_show">
              <!--非表示ここから-->
              <div class="text">
                <p>直線より曲線の方が、よりデータとの関係を表すための関数を求めることができると思った方もいるかもしれません。たしかに、曲線の方が、よりデータとの関係を表すための関数を求めることができる場合もあります。 しかし、最小二乗法を用いて曲線を求めようとすると、直線を求めるときよりも関数が複雑になるので計算が難しくなります。したがって、このサイトでは計算が簡単な直線を求める方法について考えることとします。</p>
              </div>
              <!--ここまで-->
            </div>
          </div>
          <br><br>
          <center>
            <iframe
              src="https://docs.google.com/presentation/d/e/2PACX-1vRlte2h-hp65_isfpo82ggSkUZhvXuv-8UM2yN4jTXAfeCFMBla6g-qedeLaSaq0pjGjEj6tRlebMD7/embed?start=true&loop=true&delayms=1000"
              frameborder="0"
              width="480"
              height="300"
              allowfullscreen="true"
              mozallowfullscreen="true"
              webkitallowfullscreen="true"></iframe>
          </center>
          <br>

          スライドから、身長が138cmの人は、体重がおおよそ33kgであることが予測できます。<br><br>
        </div>

        <!-- ページネーション機能（Bootstrap） -->
        <nav aria-label="Page navigation">
          <!-- justify-content-centerでページネーションを中央寄せ -->
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <!-- 1ページ目なのでリンクはなし -->
              <a class="page-link">Prev</a>
            </li>
            <li class="page-item active">
              <span class="page-link">
                1<span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares3">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="least_squares2">Next</a>
            </li>
          </ul>
        </nav>

        </div>

        <div class="sub">

          <div class="text-sub">
            <div class="pad0"></div>
            ※当サイトでは、データの関係を表すための関数が存在すると仮定します
          </div>

          <div class="text-sub">
            <div class="pad1"></div>
            <div class="hidden_box">
              <label for="label1">
                <span class="underl">なぜ曲線ではなく直線？</span></label>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- ページ読み込み後にリロードしてTEXを表示 -->
  <script language="JavaScript">

    if (window.name != "least_squares1") {
      location.reload();
      window.name = "least_squares1";
    }
  </script>
