<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "ニュートン法") %>

<div class="title">
  ニュートン法
</div>

<body>
<div class="all">
  <div class="main">
    
    <div class="caption">活用例・職業</div>

    <div class="caption2"><データサイエンティスト></div>

    <div class="text">
      ・データサイエンティストとは、ビッグデータを分析し、実務の場で分析結果から導かれた手法を活用することで企業に貢献する職業。<br>
      ・どんな仕事か？<br>
      <span class="padl-10">1.データを分析して課題を発見する</span><br>
      <span class="padl-10">2.分析したデータに意味を与える</span><br>
      <span class="padl-10">3.そのデータから事業戦略を導き出す</span><br>
    </div>

    ・なるためには？<br>

    <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
    ビジネススキル<br>
      ・ビジネスに関わる深い理解<br>
      ・ロジカルシンキング<br>
      ・ドキュメンテーション/プレゼンテーション<br>
      ITスキル・IT知識<br>
      ・大規模データ処理に関する知識<br>
      ・データベース<br>
      ・プログラミング<br>
      統計解析スキル・数学<br>
      ・データ分析手法の理解<br>
      ・データ分析ソフトウェアのスキル<br>
    </div><br><br>
    (数学)<br>
    ・データ分析の共通語は数学<br>
    →専門書の理解のためには、確率、統計、微分積分、行列等、<br>
    大学初級程度の解析学、線形代数学を習得しているとよい。<br>
    (データ分析手法の理解)<br>
    ・データの統計処理や数理モデルを作成することで分析<br>
    →統計処理手法やデータマイニング手法について理解しておく必要がある。<br>
    →自らが必要とする結論をだすためにどのような分析手法を用いれば良いか<br>
    知っておくことも重要。<br>
    <br>
    ※分析し、’数値’結果を導く数値解析も必要分析手法の１つである。<br>
    数値解を導く１つの手法として’ニュートン法’がある。<br>
    <br>

    <div class="caption2">CAE技術者とは</div>
    <div class="text">
      CAE技術者とは、これから設計しようとする製品をコンピュータ上に
      仮想的に構築し、その中で変形や振動、熱伝導、流体などの様々な力学挙動を
      精密に評価することにより、製品開発の効率化を図り、同時に性能向上や
      品質向上を目指す人をいいます。自動車開発、精密部品、建築構造物など、
      様々な分野で より高品質で安全性の高い製品を世に出すために、CAE技術者が
      必要とされています。CAEでは、多くの非線形問題（関数$f(x)$が$x$に関する1次関数以外の方程式）
      に対してニュートン法が用いられています。
    </div>
                   
    <div class="caption">ニュートン法とは？</div>
    
    <div class="text">
      ・$f(x)=0$となる解$x$の近似値を求めるための効率の良い方法。<br>
      ・$f(x)=0$の解を求める↔︎$y=f(x)$のグラフと$x$軸の交点の座標を求める。<br>
      <!--<iframe id="iframepdf" src="files/ECS1_report02.pdf"></iframe><br>-->
      <!--<iframe src="./web/viewer.html?file=./ECS1_report02.pdf"></iframe>-->
      ・原理<br>
      ①解αの付近で初期値$x_0$をとる<br>
      ②点$(x_0,f(x_0))$での接線を引く<br>
      ③②の接線と$x$軸の交点を$x1$とする<br>
      ④点$(x_1,f(x_1))$での接線を引く<br>
      ⑤④の接線と$x$軸の交点を$x_2$とする<br>
      …以降この作業を繰り返す<br>
    </div>

    <iframe
      src="https://docs.google.com/presentation/d/e/2PACX-1vSy8jQbI4dpevzSp69y5sxbnsJsSnapI9xTwhAT9VutVpvLYsESpkN6PfOD3gzA_KQ1OySjgZS4anTe/embed?start=false&loop=true&delayms=3000"
      frameborder="0"
      width="480"
      height="299"
      allowfullscreen="true"
      mozallowfullscreen="true"
      webkitallowfullscreen="true">
    </iframe>
          
    <div class="caption">実際にやってみよう</div>
    
    <div class="caption2">・問題1:</div>
    <div class="text">
      $f(x)=x^2-3=0$の解$(\sqrt{3})$を実際にニュートン法で求めてみる。<br>
      ・初期値を$x_0=$とする。<br>
      ・$x_0=2,f(x_0)=1$より$(2,1)$での接線を求める。<br>
      $f' (x)=①\underline{}$より$f' (x_0)=4$<br>
      よって、接線は$y=4(x-②\underline{})+③\underline{}$<br>
      Ans,$y=④\underline{}$<br>
      ・この接線と$x$軸との交点$x_1$を求める。<br>
      $x$軸との交点なので$y=0$<br>
      したがって,$0=④\underline{}$を解いて$x=⑤\underline{}$<br>
      よって、$x_1=⑤\underline{}$<br>
      ・$x_1=⑤\underline{},f(x_1)=0.0625$より$(1.75,0.0625)$での接線を求める。<br>
      $f' (x)=①\underline{}$より、$f' (x_1)=3.5$<br>
      よって、接線は$y=3.5(x-1.75)+0.0625$<br>
      Ans,$y=3.5x-6.0625$<br>
      ・この接線と$x$軸との交点$x_2$を求める。<br>
      $x$軸との交点なので$y=0$<br>
      したがって、$0=3.5x_2-6.0625$を解いて<br>
      $x_2=1.732142857142857$<br>
      よって、$x_2=⑥\underline{}142857142857$<br>
      ・真の値$\sqrt{3}=⑥\underline{}050807568877...$と比べて見ても<br>
      $4$桁ほど一致する。<br>
    </div>
  </div>

  <div class="sub">
    <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
      <div class="text">
        <a href="https://tech-camp.in/note/pickup/27559/">詳しくはこちら</a><br>
      </div>
      <div class="text">
        <a href="https://www.liber.co.jp/knowhow/careerlab/ds">詳しくはこちら</a><br>
      </div>
      <div class="text">
        CAEとは製品開発の初期段階から、コンピュータを用いた仮想試作・仮想試験を十分に行い、
        できるだけ少ない試作回数で、 素性のよい、高品質な製品開発を
        行うためのコンピュータを活用した設計技術です。
      </div>
      <div class="text">
        <a href="http://www.math.u-ryukyu.ac.jp/~suga/ssh4/node3.html">詳しくはこちら</a><br>
      </div>
      <div class="text">①</div>
      <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
        <input id="Radio1" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
        <label for="Radio1">$2x$</label>&emsp;
        <input id="Radio2" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
        <label for="Radio2">$2x-3$</label>&emsp;
        <input id="Radio3" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();">
        <label for="Radio3">$x$</label>
      </div>

      <div id="output1"></div><br>
      <div class="text">②</div>
      <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
        <input id="Radio4" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
        <label for="Radio4">$2$</label>&emsp;
        <input id="Radio5" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
        <label for="Radio5">$2x-3$</label>&emsp;
        <input id="Radio6" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();">
        <label for="Radio6">$x$</label>
      </div>

      <div id="output2"></div><br>
      <div class="text">③</div>
      <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
        <input id="Radio7" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
        <label for="Radio7">$1$</label>&emsp;
        <input id="Radio8" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
        <label for="Radio8">$2x-3$</label>&emsp;
        <input id="Radio9" name="RadioGroup3" type="radio" onchange="onRadioButtonChange3();">
        <label for="Radio9">$x$</label>
      </div>

      <div id="output3"></div><br>
      <div class="text">④</div>
      <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
        <input id="Radio10" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
        <label for="Radio10">$4x-7$</label>&emsp;
        <input id="Radio11" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
        <label for="Radio11">$2x-3$</label>&emsp;
        <input id="Radio12" name="RadioGroup4" type="radio" onchange="onRadioButtonChange4();">
        <label for="Radio12">$x$</label>
      </div>
            
      <div id="output4"></div><br>
      <div class="text">⑤</div>
      <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #3b5998; border-radius:10px; word-break:break-all;">
        <input id="Radio13" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
        <label for="Radio13">$1.75$</label>&emsp;
        <input id="Radio14" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
        <label for="Radio14">$2x-3$</label>&emsp;
        <input id="Radio15" name="RadioGroup5" type="radio" onchange="onRadioButtonChange5();">
        <label for="Radio15">$x$</label>
      </div>

      <div id="output5"></div><br>
      <div class="text">⑥</div>
      <div style="display:inline-block; background:#fcfcff; padding:12px; border:1px solid #3b5998; border-radius:8px; word-break:break-all;">
        <input id="Radio16" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
        <label for="Radio16">$1.732$</label>&emsp;
        <input id="Radio17" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
        <label for="Radio17">$2x-3$</label>&emsp;
        <input id="Radio18" name="RadioGroup6" type="radio" onchange="onRadioButtonChange6();">
        <label for="Radio18">$x$</label>
      </div>
            
      <div id="output6"></div><br>
    </div>      
  </div>
</div>
</body>

<!-- ページ読み込み後にリロードしてTEXを表示 -->
<script language="JavaScript">
{
  if(window.name != "abc") {
  location.reload();
  window.name = "abc";
  } else {}
}
</script>

  <script type="text/javascript" language="javascript">
    function onRadioButtonChange1() {
      radiobtn1 = document.getElementById("Radio1");
      radiobtn2 = document.getElementById("Radio2");
      radiobtn3 = document.getElementById("Radio3");

      target = document.getElementById("output1");

      if (radiobtn1.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn2.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn3.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange2() {
      radiobtn4 = document.getElementById("Radio4");
      radiobtn5 = document.getElementById("Radio5");
      radiobtn6 = document.getElementById("Radio6");

      target = document.getElementById("output2");

      if (radiobtn4.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn5.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn6.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange3() {
      radiobtn7 = document.getElementById("Radio7");
      radiobtn8 = document.getElementById("Radio8");
      radiobtn9 = document.getElementById("Radio9");

      target = document.getElementById("output3");

      if (radiobtn7.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn8.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn9.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange4() {
      radiobtn10 = document.getElementById("Radio10");
      radiobtn11 = document.getElementById("Radio11");
      radiobtn12 = document.getElementById("Radio12");

      target = document.getElementById("output4");

      if (radiobtn10.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn11.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn12.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange5() {
      radiobtn13 = document.getElementById("Radio13");
      radiobtn14 = document.getElementById("Radio14");
      radiobtn15 = document.getElementById("Radio15");

      target = document.getElementById("output5");

      if (radiobtn13.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn14.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn15.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
    function onRadioButtonChange6() {
      radiobtn16 = document.getElementById("Radio16");
      radiobtn17 = document.getElementById("Radio17");
      radiobtn18 = document.getElementById("Radio18");

      target = document.getElementById("output6");

      if (radiobtn16.checked == true) {
        target.innerHTML = "おめでとう、正解です";
      } else if (radiobtn17.checked == true) {
        target.innerHTML = "残念、不正解です";
      } else if (radiobtn18.checked == true) {
        target.innerHTML = "残念、不正解です";
      }
    }
  </script>
