<!-- タイトルを動的に出力するためにタイトル(Home)を入力 -->
<% provide(:title, "使い方") %>

  <div class="all">

    <div class="title">使い方</div>

    <div class="usage-main">

      <div class="caption">文章構成について</div>
      <div class="topSpace"></div>
      <div class="text">
        このサイトでは、1つの数学の手法について大きく3章立てで説明していきます。<br><br>
        1章では、実際にどのようにしてその数学の手法が使われているのかを紹介しています。<br>
        2章では、その数学の手法の原理や特徴を説明しています。<br>
        3章では、1章や2章で説明したことを実感してもらうための問題を用意しています。<br><br>

        また、下線が引かれているところをクリックすると、詳しい説明が表示されます。<br><br>
        <span class="hidden_box2" style="margin-left: 200px;">
          <label for="label3">
            <span class="underl">下線部分をクリック！</span></label>

          <input type="checkbox" id="label3"/>
          <div class="hidden_show2">
            <!--非表示ここから-->
            <span class="text" style="margin-left: 100px;">このようにして詳しい説明が表示されます。</span>
            <!--ここまで-->
          </div>
        </span><br><br>
      </div>

      <div class="caption">スライドについて</div>
      <div class="topSpace"></div>
      <div class="text">
        ボタンを押すことでスライドが再生されます。<br>
        再度、ボタンを押すと一時停止します。
      </div>
      <br><br>
      <div class="showbox left2">
        <!-- スライドショーを表示する場所 -->
        <p>
          <img src="/assets/slide1.1.png" id="slideshow" alt="スライドショー表示領域">
        </p>

        <!-- スライドショーの制御ボタンを表示 -->
        <p>
          <input type="button" class="btn btn-secondary" value="－ 再生／一時停止 －" id="startstopbutton">
        </p>
      </div>
      <br><br>

      <div class="caption">解答欄について</div>
      <div class="topSpace"></div>
      <div class="text">
        3章（実際にやってみよう）では、以下のような解答欄があります。<br>
        各解答欄から選択肢を1つ選んで、解答チェックボタンをクリックすると、選択肢が正解か不正解かが表示されます。<br>
        以下の解答欄では、(1)も(2)も1つ目の選択肢が正解です。<br>

          <div class="box26 left2">
            <span class="box-title">(1)</span>
            <p>
              <input id="Radio1" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：おめでとう、正解です">
              <label for="Radio1">$2x$</label>&emsp;
              <input id="Radio2" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です">
              <label for="Radio2">$2x-3$</label>&emsp;
              <input id="Radio3" name="RadioGroup1" type="radio" onchange="onRadioButtonChange1();" value="結果：残念、不正解です">
              <label for="Radio3">$x$</label>
            </p>
            <span id="span1">結果：</span>
          </div>

          <div class="box26 left2">
            <div class="box-title">(2)</div>
            <p>
              <input id="Radio4" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：おめでとう、正解です">
              <label for="Radio4">$2$</label>&emsp;
              <input id="Radio5" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です">
              <label for="Radio5">$2x-3$</label>&emsp;
              <input id="Radio6" name="RadioGroup2" type="radio" onchange="onRadioButtonChange2();" value="結果：残念、不正解です">
              <label for="Radio6">$x$</label>
            </p>
            <span id="span2">結果：</span>
          </div>
          <span class="left">
          <input type="button" value="解答チェック" onclick="clickBtn1()" class="left2"/>
          <div class="Button">
            <p class="btn usage-button">
              <a href="least_squares1">コンテンツへ</a>
            </p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <script language="JavaScript">
    if (window.name != "usage") {
      location.reload();
      window.name = "usage";
    }
  </script>

  <script type="text/javascript" language="javascript">

    function clickBtn1() {
      let str1 = "";
      let str2 = "";
      let str3 = "";
      let str4 = "";
      let str5 = "";
      let str6 = "";
      const RadioGroup1 = document.getElementsByName("RadioGroup1");
      for (let i = 0; i < RadioGroup1.length; i++) {

        if (RadioGroup1[0].checked === true) {
          str1 = RadioGroup1[0].value;
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup1[1].checked == true) {
          str1 = RadioGroup1[1].value;
          break;
        } else if (RadioGroup1[2].checked == true) {
          str1 = RadioGroup1[2].value;
          break;

        }

      }

      const RadioGroup2 = document.getElementsByName("RadioGroup2");
      for (let i = 0; i < RadioGroup2.length; i++) {

        if (RadioGroup2[0].checked === true) {
          str2 = RadioGroup2[0].value;
          break;
          //target.innerHTML = "おめでとう、正解です";
        } else if (RadioGroup2[1].checked == true) {
          str2 = RadioGroup2[1].value;
          break;
        } else if (RadioGroup2[2].checked == true) {
          str2 = RadioGroup2[2].value;
          break;
        }

      }
      document.getElementById("span1").textContent = str1;
      document.getElementById("span2").textContent = str2;
    }
  </script>
