@import "bootstrap";
@charset "utf-8";

/*全体*/
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

//header関連
header {
  width: 100%;
  height: 200px;
  margin: 0 auto
}

#logo {
  float: left;
  width: 30px;
  height: auto;
}

.global-nav {
  margin-top: 60px;
  padding-left: 115px;
  padding-right: 100px;
}

.global-nav li {

  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}

.global-nav li a {
  color: #ffffff;
  font-weight: 450;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

// フッターの背景や文字色、中央寄せ
footer {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #3f3f3f;
  bottom: 0; /*下に固定*/
}
footer small {
  text-align: center;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}

// .content {
//   width: 960px;
//   margin: 0 auto;
// }

// .main {
//   width: 700px;
//   margin: 0 10px;
//   float: left;
// }

a img:hover {
  opacity: 0.8;
}

#index h1 {
  font-size: 50px;
  font-weight: 400px;
  line-height: 1;
  color: #ffffff;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", sans-serif;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

#index p {
  font-size: 22px;
  font-weight: 450;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#index .strongt{
  font-size: 35px;
  color: #ffffff;
  margin-top: -15px;
  line-height: 1.5em;
}

#index .cButton{
  margin-top: -30px;
}

#index footer {
  text-align: center;
  background-color: transparent;
}

#index #wrap {
  background-color: transparent;
  padding: 0;
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
}

#index {
  background-image: image-url("FUN_outsideb.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  height: 100%;
}

#FUN {
  background-image: image-url("FUN_inside.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  bottom: 0
}

.all{
  background-color: rgb(248, 248, 248);
  margin-top: -35px;
  margin-bottom: -35px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 450;
}

.title{
  text-align: center;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", sans-serif;
  font-size: 75px;
  font-weight: 400;
  padding-top: 10px;
}

.padl-10{
  padding-left: 20px;
}
.padt-10{
  padding-top: 40px;
}

.caption{
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", sans-serif;
  height: 65px;
  font-size: 40px;
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 80, 185);
}
.caption2{
  font-size: 25px;
}

.text{
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.text-sub{
  font-size: 15px;
}
.homeText{
  text-align: center;
  font-size: 22px;
  font-weight: 450;
}

.topSpace{
  padding-top: 15px;
}

/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}


/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
/*.hidden_box2 {
    margin: 2em 0;前後の余白
    padding: 0;
}*/

.hidden_box2 label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box2 input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box2 .hidden_show2 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box2 input:checked ~ .hidden_show2 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


.btn a {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: "Bitter", sefif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid #009cd3;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3
}

/*強調のbox*/
.box{
  padding: 0.5em 1em;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #333333;
  background: white;
  border-top: solid 5px #73dbe9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box p {
  margin: 0;
  padding: 0;
}

/*回答欄のbox*/
.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px rgb(0, 80, 185);
  border-radius: 8px;
  width: 280px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #333333;
  font-weight: 450px;
}
.box26 p {
  margin: 0;
  padding: 0;
}

.usage-main{
  margin-left: 25px;
  margin-right: 25px;
}

.pagetop
    {
    position: fixed;
    bottom: 16px;
    right: 16px;
    }

.pagetop a
    {
    display: block;
    text-decoration: none;
    }

.pagetop:hover
{
    opacity: 0.85 ;
}

td{
  text-align: center;
}

.underl{
  background: linear-gradient(transparent 80%, #73dbe9 70%);
}

.pad0{
  padding-top: 1460px;
}


.pad1{
  padding-top: 0px;
}

.pad4{
  padding-top: 500px;
}

.pad5{
  padding-top: 2200px;
}


.pad2{
  padding-top: 2930px;
}

.pad6{
  padding-top: 70px;
}

.pad3{
  padding-top: 720px;
}

.usage-button{
  bottom: 16px;
  margin-left: 800px;
}
