@import "bootstrap";
@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

// フッターの背景や文字色、中央寄せ
footer {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
  bottom: 0; /*下に固定*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 200px;
  margin: 0 auto
}

#logo {
  float: left;
  width: 30px;
  height: auto;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
}

.global-nav li a {
  color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

footer small {
  font-size: 12px;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

a img:hover {
  opacity: 0.8;
}

#FUN {
  background-image: image-url("FUN.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  bottom: 0
}

.all{
  background-color: rgb(245, 245, 245);
  margin-top: -35px;
  margin-bottom: -35px;
  padding-left: 50px;
  padding-right: 50px;
}

.title{
  text-align: center;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", sans-serif;
  font-size: 75px;
  font-weight: 400;
  padding-top: 10px;
}
.padl-20{
padding-left: 20px;
}

.caption{
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", sans-serif;
  font-size: 30px;
}

// .caption:before {
//   position: absolute;
//   content: '';
//   bottom: 6px;
//   left: 0;
//   width: 0;
//   height: 0;
//   border: none;
//   border-left: solid 15px transparent;
//   border-bottom: solid 15px rgb(119, 195, 223);
// }
// .caption:after {
//   position: absolute;
//   content: '';
//   bottom: 6px;
//   left: 10px;
//   width: 100%;
//   border-bottom: solid 3px rgb(119, 195, 223);
// }

.caption2{
  font-size: 25px;
}

.text{
  font-size: 18px;
}

/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}


/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/*全体*/
/*.hidden_box2 {
    margin: 2em 0;前後の余白
    padding: 0;
}*/

.hidden_box2 label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box2 input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box2 .hidden_show2 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box2 input:checked ~ .hidden_show2 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
