.column{
  display: flex;
  justify-content: space-around;
}

.main{
  width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}
.sub{
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.sub3{
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}